@use 'vuetify/settings' with (
    $body-font-family: 'Atkinson Hyperlegible',
    $heading-font-family: 'Atkinson Hyperlegible',
    $bottom-navigation-height: 56px,
    $utilities: (    
        "rounded": true
    )
);